.productsSection {
    width: 95%;
    margin: 0 auto;
    margin-top: 3em;
}

.sectionName {
    margin-bottom: .25em;
}

.productsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1em;
    width: 100%;

}

.productContainer {
    background-color: #fff;
    z-index: 1555;
    padding: .25em;
}

.productContainer>* {
    margin-top: .5em;
}

.productTitle {
    font-weight: 650;
}

.productImg,
.productBtn {
    display: flex;
    justify-content: center;
}

.productBtn {
    width: 100%;
    margin-top: 1.5em;
    margin-bottom: .5em;
}

.productBtn button {
    width: 35%;
    font-size: 1rem;
    padding: .25em;
    border-radius: 5px;
}

.productBtn button:hover {
    border-color: #f08804;
    color: #fff;
    background-color: #f08804;
}