@media (max-width:620px) {
    .slider-container {
        min-width: 340px;
    }

    .prev,
    .next {
        display: none;
    }
}

@media (max-width:800px) {

    .prev,
    .next {
        height: 180px;
    }
}