.cart-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: .5em;
}

.cart-left-sec {
    width: 75%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;

}

.left-sec-content-1 {
    display: flex;
    width: 100%;
    padding: 3em;
    background-color: #fff;
    gap: 1.5em;
}

.left-sec-content-link {
    color: #007185;
}

.left-sec-content-link:hover {
    color: #f08804;
}

.left-sec-content-2 {
    padding: 3em;
    background-color: #fff;
}

.left-sec-content-3 p {
    font-size: 14px;
}

.left-sec-content-1 img {
    width: 35%;
}

.cart-right-sec {
    width: 24.5%;
}