@media (max-width : 620px) {

    .header {
        display: none;
    }

    .mobile-header {
        display: flex;
        flex-direction: column;
        background-color: #232f3e;
        width: 100%;
        overflow: hidden;
        min-width: 340px;
        color: #fff;
    }

    .nav-orders {
        display: none;
    }

    .row {
        display: flex;
        height: 50px;
        width: 100%;
    }

    .row-1 {
        justify-content: space-between;
    }

    .left-side {
        display: flex;
        padding: .55em;
        gap: 1em;
        width: 40%;
        align-items: center;
    }

    .left-side img {
        min-width: 100px;
        margin-top: 15px;
    }

    .left-side svg {
        width: 10%;
        height: 100%;
        min-width: 40px;
        min-height: 35px;

    }

    .right-side {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 30%;
        min-width: 170px;
    }

    .nav-search {
        width: 90%;
        margin: 0 auto;
        max-width: 100%;
    }

    .row-3 {
        padding: .25em;
        align-items: center;
    }

    .row-3 ul {
        display: flex;
        justify-content: space-between;
        overflow-x: scroll;
        line-height: 1em;
        gap: 1em;
        font-weight: 400;
        font-size: 1rem;
        align-items: center;
    }

    .row-3 ul::-webkit-scrollbar {
        display: none;

    }

    .row-3 ul li {
        min-width: 40px;
        text-align: center;
        white-space: nowrap;
    }

    .row-3 ul li:nth-child(2) {
        min-width: 105px;
    }

    .row-3 ul li:nth-child(3),
    .row-3 ul li:nth-child(4),
    .row-3 ul li:nth-child(11) {
        min-width: 80px;
    }

    .row-3 ul li:nth-child(6) {
        min-width: 90px;
    }

    .row-3 ul li:nth-child(7) {
        min-width: 60px;
    }

    .row-3 ul li:nth-child(9) {
        min-width: 135px;
    }

    .row-4 {
        background-color: #37475A;
    }

    .nav-deliver-location {
        width: 100%;
        justify-content: flex-start;
        padding: 0 1em;
    }

    .nav-deliver-location .nav-location-desc {
        display: flex;
        flex-direction: row;
        gap: .5em;
    }
}